.login
  text-align center
  position absolute
  left 0
  top 50%
  width 100%
  height: 176px
  margin -88px 0 0 0
h1
  position: relative
  display inline-block
  overflow hidden
  margin 0 0 60px 0
  padding 70px 0 0 0
  width 394px
  height 0
  background url(../img/retry-web-logo-large.png) no-repeat
a
  position: relative
  display inline-block
  overflow hidden
  margin 0
  padding 46px 0 0 0
  width 202px
  height 0
  background url(../img/facebook.png) no-repeat
