.root
  text-align center
  margin-top 64px

.root>h1
  position: relative
  display inline-block
  overflow hidden
  margin 0 0 60px 0
  padding 70px 0 0 0
  width 394px
  height 0
  background url(../img/retry-web-logo-large.png) no-repeat