doctype html
html(lang='ko')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title 다시 입력하세요 오류
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='description', content='다시 입력하세요 오류')
    meta(name='author', content='류형욱')
    link(href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css", rel="stylesheet")
  body
    .container
      .page-header
        h1
          | 다시 입력하세요 오류
          small
            |  결과가 매우 좋지 않다.
      h1.text-center
        | #{message}
        - if (error && error.status)
          | , #{error.status}
      hr
      - if (error && error.stack)
        pre #{error.stack}